<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="My_urdf">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.421226910973991 -0.430182950446234 0.506652402868975"
        rpy="0 0 0" />
      <mass
        value="42.8861348655346" />
      <inertia
        ixx="1.00588271538571"
        ixy="-1.46408273029841E-07"
        ixz="-0.0167901751526594"
        iyy="1.73667960585585"
        iyz="5.80765073155769E-08"
        izz="2.43688572871735" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://My_urdf/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://My_urdf/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Front_right_coupling">
    <inertial>
      <origin
        xyz="1.11022302462516E-16 0.0254 0.0683656936375808"
        rpy="0 0 0" />
      <mass
        value="0.225860858102532" />
      <inertia
        ixx="0.000343266997104211"
        ixy="-1.83420705937824E-22"
        ixz="-7.50378547038704E-19"
        iyy="0.000348044864929135"
        iyz="1.10048511307746E-21"
        izz="6.78133565103266E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://My_urdf/meshes/Front_right_coupling.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://My_urdf/meshes/Front_right_coupling.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Front_right_coupling_joint"
    type="revolute">
    <origin
      xyz="0.67855 -0.68418 0.36349"
      rpy="1.5708 0 -0.0014101" />
    <parent
      link="base_link" />
    <child
      link="Front_right_coupling" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Frnt_right_tyre">
    <inertial>
      <origin
        xyz="-2.22044604925031E-16 -3.33066907387547E-16 0.0380998484832361"
        rpy="0 0 0" />
      <mass
        value="2.31666659443376" />
      <inertia
        ixx="0.00747310310032442"
        ixy="6.58762503934168E-20"
        ixz="-1.76902831034061E-17"
        iyy="0.00747310310032441"
        iyz="-1.88642707683005E-17"
        izz="0.0127042752705515" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://My_urdf/meshes/Frnt_right_tyre.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://My_urdf/meshes/Frnt_right_tyre.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Frnt_rght_tyre_joint"
    type="revolute">
    <origin
      xyz="0 0.0254 0.0508"
      rpy="0 0 2.4249" />
    <parent
      link="Front_right_coupling" />
    <child
      link="Frnt_right_tyre" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Front_left_coupling">
    <inertial>
      <origin
        xyz="0 0.0254 0.0683656936375813"
        rpy="0 0 0" />
      <mass
        value="0.225860858102532" />
      <inertia
        ixx="0.000343266997104211"
        ixy="4.06423880300902E-24"
        ixz="1.16043513773839E-19"
        iyy="0.000348044864929136"
        iyz="1.51452262272646E-21"
        izz="6.78133565103265E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://My_urdf/meshes/Front_left_coupling.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://My_urdf/meshes/Front_left_coupling.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Front_left_coupling_joint"
    type="revolute">
    <origin
      xyz="0.67855 -0.17618 0.36349"
      rpy="1.5708 0 3.1112" />
    <parent
      link="base_link" />
    <child
      link="Front_left_coupling" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Front_left_tyre">
    <inertial>
      <origin
        xyz="6.66133814775094E-16 -1.11022302462516E-16 -0.0380295264426354"
        rpy="0 0 0" />
      <mass
        value="2.31666659443376" />
      <inertia
        ixx="0.00747310310032442"
        ixy="-1.9280587461876E-19"
        ixz="9.0801931945661E-19"
        iyy="0.00747310310032442"
        iyz="7.18283939271647E-19"
        izz="0.0127042752705515" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://My_urdf/meshes/Front_left_tyre.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://My_urdf/meshes/Front_left_tyre.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Frnt_lft_tyr_joint"
    type="revolute">
    <origin
      xyz="0 0.0254 0.05087"
      rpy="-3.1416 0 0.28244" />
    <parent
      link="Front_left_coupling" />
    <child
      link="Front_left_tyre" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Rear_right_tyre">
    <inertial>
      <origin
        xyz="-1.66533453693773E-16 -5.55111512312578E-17 0.0380999999999999"
        rpy="0 0 0" />
      <mass
        value="2.31666659443376" />
      <inertia
        ixx="0.00747310310032441"
        ixy="0"
        ixz="5.73907764946154E-20"
        iyy="0.00747310310032441"
        iyz="8.96526149226369E-20"
        izz="0.0127042752705515" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://My_urdf/meshes/Rear_right_tyre.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://My_urdf/meshes/Rear_right_tyre.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Rear_right_tyre_joint"
    type="revolute">
    <origin
      xyz="0.17055 -0.73498 0.38889"
      rpy="1.5708 -0.8144 0" />
    <parent
      link="base_link" />
    <child
      link="Rear_right_tyre" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Rear_left_tyre">
    <inertial>
      <origin
        xyz="4.16333634234434E-17 5.55111512312578E-17 0.0381"
        rpy="0 0 0" />
      <mass
        value="2.31666659443376" />
      <inertia
        ixx="0.00747310310032442"
        ixy="0"
        ixz="-1.57918395899449E-19"
        iyy="0.00747310310032442"
        iyz="1.0048451175268E-19"
        izz="0.0127042752705515" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://My_urdf/meshes/Rear_left_tyre.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://My_urdf/meshes/Rear_left_tyre.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Rear_left_tyre_joint"
    type="revolute">
    <origin
      xyz="0.17055 -0.049183 0.38889"
      rpy="-1.5708 -0.24309 3.1416" />
    <parent
      link="base_link" />
    <child
      link="Rear_left_tyre" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>